@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LeeSeoyun";
  src: local("LeeSeoyun"), url(@/assets/fonts/LeeSeoyun.woff2) format("woff2"),
    url(@/assets/fonts/LeeSeoyun.woff) format("woff"),
    url(@/assets/fonts/LeeSeoyun.ttf) format("truetype");
}

@font-face {
  font-family: "S-CoreDream-4Regular";
  src: local("S-CoreDream-4Regular"),
    url(@/assets/fonts/SCDream4.woff2) format("woff2"),
    url(@/assets/fonts/SCDream4.woff) format("woff"),
    url(@/assets/fonts/SCDream4.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
}
.home-circle {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: circle 2s 1s ease-in-out both;
}

@keyframes circle {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.home-heart {
  animation: heart 1s ease-in both;
}

@keyframes heart {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
